<link rel="icon" href="/images/logoIcon.png" type="image/png" />
<section id="home">
  <div class="content-container">
    <h1>Welcome to Blogify</h1>
    <p>
      <i>
        Discover a world of captivating stories and expert insights that spark
        curiosity and inspire action. Whether you’re here to explore, learn, or
        share your voice, Blogify is your ultimate destination. Ready to dive
        in?
      </i>
    </p>
  </div>
</section>

<section
  id="about"
  style="display: none"
  data-aos="fade-in"
  data-aos-duration="900"
  data-aos-easing="ease-out"
  data-aos-offset="500"
  data-aos-delay="500"
>
  <div class="content-container">
    <h1>About Us</h1>
    <i>
      <p>
        Welcome to
        <span style="color: #002147; font-weight: 400">Blogify</span>
        !
        <br />
        <br />
        We believe in the power of words to inspire, educate, and connect. Our
        mission is to create a vibrant community where voices are heard, and
        creativity thrives. Whether you’re here to explore new ideas, read
        engaging stories, or share your thoughts, you’ll find a home with us.
        <br />
        <br />
        <span>What We Offer:</span>
      </p>
      <ul style="color: white; margin-left: 40px">
        <li>
          <span>Diverse Topics: </span>From tech to travel, health to hobbies,
          we cover it all.
        </li>
        <li>
          <span>Expert Insights:</span>
          Articles by knowledgeable writers and guest contributors.
        </li>
        <li>
          <span>Engaging Stories:</span>
          Personal narratives and real-life experiences.
        </li>
        <li>
          <span>Community Focus:</span> Connect with like-minded readers and
          writers.
        </li>
      </ul>
      <p>
        Join us on this journey and be part of our growing community. Thank you
        for being here! Happy Reading!
        <br />
        <br />
        The
        <span style="color: #002147; font-weight: 400">Blogify</span>
        Team
      </p>
    </i>
  </div>
</section>

<section id="contact" style="display: none">
  <h1>Contact Us</h1>
  <div class="content-container">
    <form action="/submit" method="post">
      <div class="input-container">
        <img src="/images/user.png" alt="name" height="20" width="20" />
        <label for="name">Name</label>
      </div>
      <input type="text" id="name" name="name" required />

      <div class="input-container">
        <img src="/images/envelope.png" alt="email" height="20" width="20" />
        <label for="email">Email</label>
      </div>
      <input type="email" id="email" name="email" required />

      <div class="input-container">
        <img src="/images/book.png" alt="subject" height="20" width="20" />
        <label for="subject">Subject</label>
      </div>
      <input type="text" id="subject" name="subject" required />

      <div class="input-container">
        <img src="/images/chat.png" alt="message" height="20" width="20" />
        <label for="message">Message</label>
      </div>
      <textarea id="message" name="message" rows="4" required></textarea>

      <button type="submit" class="buttons">Submit</button>
    </form>
  </div>
</section>
